<div class="container">
    <div class="basic-search">
      <%= form_tag articles_path, method: :get do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Rechercher un article"%>
      <%= submit_tag "Go", class: "submit-btn" %>
      <% end %>
    </div>
     <% @articles.each do |article| %>
      <div class="card-product">
         <% if article.category == "Immobilier" %>
            <%= link_to image_tag("immobilier.jpg"), article_path(article.id) %>
          <div class="card-product-infos">
            <div>
              <h2><%= article.title %></h2>
              <h3><%= article.category %></h3>
            </div>
            <div>
             <p><%= article.created_at.strftime("%d-%m-%Y") %></p>
            </div>
          </div>
        <% elsif article.category == "Cryptomonnaie" %>
            <%= link_to image_tag("crypto.jpg"), article_path(article.id) %>
          <div class="card-product-infos">
            <div>
              <h2><%= article.title %></h2>
              <h3><%= article.category %></h3>
            </div>
            <div>
             <p><%= article.created_at.strftime("%d-%m-%Y") %></p>
            </div>
          </div>
            <% elsif article.category == "Bourse" %>
                <%= link_to image_tag("stock.jpg"), article_path(article.id) %>
              <div class="card-product-infos">
            <div>
              <h2><%= article.title %></h2>
              <h3><%= article.category %></h3>
            </div>
            <div>
             <p><%= article.created_at.strftime("%d-%m-%Y") %></p>
            </div>
          </div>
            <% else %>
              <%= link_to image_tag("savings.jpg"), article_path(article.id) %>
           <div class="card-product-infos">
            <div>
              <h2><%= article.title %></h2>
              <h3><%= article.category %></h3>
            </div>
            <div>
             <p><%= article.created_at.strftime("%d-%m-%Y") %></p>
            </div>
          </div>
        <% end %>
            </div>
      <% end %>
</div>
<%= render 'shared/footer' %>
