<div class="container">
  <h2><%= @article.title %></h2>
    <div class="comment">
      <div class="text">
        <%= @article.content %>
      </div>
    </div>
    <%= link_to articles_path, class: "back-btn" do %>
      <i class="far fa-arrow-alt-circle-left"></i>
    <% end %>
    <%= link_to new_article_review_path(@article), class: "comment-btn" do %>
      <i class="fas fa-comments"></i>
    <% end %>
    <% if policy(@article).update? %>
      <%= link_to edit_article_path(@article), class: "comment-btn" do %>
        <i class="fas fa-edit"></i>
      <% end %>
    <% end %>
    <% if policy(@article).destroy? %>
      <%= link_to article_path(@article), method: :delete, data: { confirm: "Êtes-vous sûr?" } do %>
        <i class="fas fa-trash comment-btn"></i>
      <% end %>
    <% end %>

<div class="comments">
 <% unless @article.reviews.count == 0 %>
  <h2>Commentaires</h2>
    <% @article.reviews.each do |review| %>
      <h4 class="title"><%= review.title %></h4>
        <div class="comment">
          <div class="text">
            <%= review.content %>
          </div>
          <div class="author">
            Commenté le <%= review.created_at.strftime("%d-%m-%Y") %> par <%= review.user.email %>
          </div>
        </div>
        <% if policy(review).update? %>
          <%= link_to edit_review_path(review), class: "comment-btn" do %>
          <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
        <% if policy(review).destroy? %>
          <%= link_to review_path(review.id), method: :delete, data: { confirm: "Êtes-vous sûr?" } do %>
            <i class="fas fa-trash comment-btn"></i>
          <% end %>
        <% end %>
    <% end %>
   <% end %>
</div>
</div>
