<%= @article.title %>
<%= @article.category %>
<%= @article.content %>
<% if policy(@article).update? %>
<%= link_to "Modifier l'article", edit_article_path(@article) %>
<% end %>
<% if policy(@article).destroy? %>
<%= link_to "Supprimer #{@article.title}", article_path(@article), method: :delete, data: { confirm: "Êtes-vous sûr?" } %>
<% end %>
<%= link_to 'Retour aux articles', articles_path %>
<%= link_to "Ajouter un commentaire", new_article_review_path(@article) %>


<% unless @article.reviews.count == 0 %>
  <h2>Commentaires</h2>
      <% @article.reviews.each do |review| %>
        <h3><%= review.title %></h3>
        <p><%= review.content %></p>
        <p>Commenté le <%= review.created_at.strftime("%d-%m-%Y") %> par <%= review.user.email %></p>
        <% if policy(review).update? %>
        <%= link_to "Modifier le commentaire", edit_review_path(review.id) %>
        <% end %>
        <% if policy(review).destroy? %>
        <p><%= link_to "Supprimer ce commentaire", review_path(review.id), method: :delete, data: { confirm: "Êtes-vous sûrs?" } %></p>
        <% end %>
      <% end %>
<% end %>
