<%= @article.title %>
<%= @article.category %>
<%= @article.content %>
<% if policy(@article).update? %>
<%= link_to "Modifier l'article", edit_article_path(@article) %>
<% end %>
<% if policy(@article).destroy? %>
<%= link_to "Supprimer #{@article.title}", article_path(@article), method: :delete, data: { confirm: "Êtes-vous sûr?" } %>
<% end %>
<%= link_to 'Retour aux articles', articles_path %>
<%= link_to "Ajouter un commentaire", new_article_review_path(@article) %>


<% unless @article.reviews.count == 0 %>
  <h6>Commentaires</h6>
      <% @article.reviews.each do |review| %>
        <p><%= review.user.email %></p>
        <p><%= review.title %></p>
        <p><%= review.created_at.strftime("%d-%m-%Y") %></p>
        <p><%= review.content %></p>
        <p><%= link_to "Supprimer ce commentaire", article_review_path(review.id), method: :delete, data: { confirm: "Êtes-vous sûrs?" } %></p>
      <% end %>
<% end %>
